body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

a {
    display: block;
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
    color: #6c8cff;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 25%;
    margin: 0 auto;
}

label,
input,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
}

.form>label {
    margin-bottom: 24px;
}

.form>label>input {
    display: block;
    width: calc(100% - 35px);
    padding: 8px 16px;
    margin-top: 4px;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form>label>input:hover {
    border: 1px solid #000000;
}
.form>label>input:active{
    border: 1px solid #4e75ff;
}

fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 24px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
fieldset:hover {
    border: 1px solid #000000;
}

fieldset>legend {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-align: left;
}

button {
    margin-top: 8px;
    min-width: 95px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #4e75ff;
    color: #ffffff;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
    background-color: #6c8cff;
}